@import '../../../index.scss';
.error {
    width: 100%;
    text-align: center;
    color: red;
    position: absolute;
    top: 9%;
    left: 0;
}

.profile {
    padding: 15px 30px;

    div {
        width: 100%;
        margin: 12px auto;
        display: flex;
        justify-content:space-between;

        &:last-child {
            margin: 20px auto 0 auto
        }
    }

    label {
        flex-basis: 32%;
        font-family: $font-poppins;
        color: $color-primary;
        display: block;
    }

    input[type="text"],
    input[type="url"],
    input[type="tel"],
    input[type="email"]  {
        //TODO add colors
        max-width: 180px;
        flex-basis: 68%;
        @include styled-input(4px, $color-primary, 14px);
    }

    .btn[disabled] {
        opacity: 0.5;
    }

    .btn[disabled] input {
        cursor: auto;
    }
}

.btn input[type="submit"] {
    @include button-styles($color-card, $color-primary, 16px);
    border: none;

    &:hover {
        @include button-styles($color-primary, $color-card, 16px);
    }
}