@import '../../../index.scss';

.profile {
    padding: 17px 30px;

    div {
        margin: 12px auto;

        &:last-child {
            margin: 20px auto 0 auto
        }
    }

    label {
        font-family: $font-poppins;
        color: $color-primary;
        display: inline-block;
        width: 110px;
        margin-right: 10px;
    }

    input[type="text"] {
        //TODO add colors
        @include styled-input(8px, $color-primary);
    }

    .btn[disabled] {
        opacity: 0.5;
    }

    .btn[disabled] input {
        cursor: auto;
    }
}

.btn input[type="submit"] {
    @include stylesBtn();
    border: none;

    &:hover {
        @include stylesBtn($color-primary, $color-card);
    }
}