@import '../../../index.scss';

.profile {
    padding: 10px 30px;
    div {
        margin: 14px auto;
        &:last-child{
            margin: 20px auto 2px auto
        }
    }

    label {
        display: inline-block;
        width: 110px;
        font-size: 18px;
        font-weight: 800;
        margin-right: 10px;
    }

    input {
        padding: 8px;
    }
    .btn input {
        padding: 8px 30px;
        @include stylesBtn;
    } 
}

