@import '../../../index.scss';

.search {
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 3px;

    div {
        @include flexLayout;
    }

    input {
        flex-grow: 1;
        padding: 8px;
    }

    .close-btn,
    .search-icon {
        background-color: lighten($color-light-blue, 20%);
        cursor: pointer;
        padding: 7px;
        margin-left: 2px;
        border: none;
    }

    .search-icon {
        pointer-events: none;
    }

    svg {
        width: 18px;
        color: $color-primary;
    }
}

.result {
    ul {
        max-height: 194px;
        padding: 0;
        margin: 5px 0;
        list-style: none;
        width: 100%;
        border: 1px solid $color-card;
        overflow: hidden;

        &.scrollable {
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb {
                background-color: $color-secondary;
                border-radius: 2px;
                cursor: pointer;
            }

            &::-webkit-scrollbar {
                display: block;
                width: 8px;
            }
        }

        @for $i from 1 through 20 {
            li {
                &:nth-child(#{$i}) {
                    animation-name: unfold;
                    animation-duration: 300ms;
                    animation-delay: (200ms * $i);
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}


li {
    color: $color-primary;
    border-bottom: 0.5px solid $color-card;
    padding: 3px;
    cursor: pointer;
    transform: scale(.01);
    opacity: 0;
}


@keyframes unfold {
    0% {
        background-color: $color-bgr;
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        color: red;
        transform: scale(1.2);
    }

    90% {
        transform: scale(1);
        background-color: $color-bgr;
    }

    100% {
        color: $color-primary;
        background-color: $color-bgr;
        transform: scale(1);
        opacity: 1;
    }
}