.wrapper {
    text-align: center;
    width: 70%;
    margin: auto;
}

.search {
   text-align: center;
   display: flex;
   justify-content:center;
   margin-bottom: 20px;
}

.search input{
    flex-grow: 1;
    padding: 8px;
}


.close-btn, .search-btn{
    cursor: pointer;
    /* border: none; */
}

.close-btn>svg, .search-btn>svg{
    width: 15px;
    color: red;
}

.result ul{
    padding: 0;
    list-style: none;
    width: inherit;
    border: 1px solid #6D2269;
    margin-top: 5px;
}

.result ul li {
    cursor: pointer;
    border-bottom: 0.5px solid #eee;
    padding: 3px;
}