@import '../../../index.scss';

.book-details {
    .btn.add {
        position: absolute;
        left: 60px;
        bottom: 65px;
    }

    h2 {
        position: relative;

        a {
            display: inline-block;
            width: 24px;
            font-size: 14px;
            color: $color-white;
            position: absolute;
            top: 3px;
            right: 12px;
        }
    }
}

.info-close-btn {
    svg {
        width: 35px;
        font-weight: bold;
        position: inherit;
        right: 0;
        top: 5px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    background-color: $color-bgr;
    border-right: 5px solid $color-primary;
    border-left: 5px solid $color-primary;
    border-bottom: 44px solid $color-primary;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    &-info {
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }

    h3 {
        font-size: $font-size-big;
        font-weight: bold;
        margin: 5px;
    }
}

.content-details {
    margin: 30px auto;

    p {
        margin: 5px;
        display: flex;
        align-items: center;
    }

    svg {
        width: 15px;
    }

    a {
        text-decoration: none;
    }

    div {
        min-width: 250px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .btn {
        width: 44px;
        font-size: 14px;
        border: none;
        background-color: $color-primary;
        color: $color-white;
        cursor: pointer;
        position: relative;
    }

    .btn svg {
        width: 40px;
    }

    .btn.edit svg {
        padding: 5px;
    }
}

.btn a {
    @include stylesBtn;
    padding: 10px 50px;
}