.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #FCFAEF;
    border-right: 5px solid #6D2269;
    border-left: 5px solid #6D2269;
    border-bottom: 35px solid #6D2269;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.info-line {
    margin: 5px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.info-details {
    margin: 10px auto;
}

.info-details a {
    text-decoration: none;
}

.info-details>div {
    min-width: 250px;
    margin: 20px 0 10px 0;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.info-details .btn{
    width: 50px;
    font-size: 25px;
    border: none;
    background-color: #6D2269;
    color: #fff;
    cursor: pointer;
}

.info-details a.btn{
    background-color: #fff;
    color: #6D2269;
    border: 3px solid  #6D2269;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center
}

.btn button {
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    padding: 10px 50px;
    color: #6D2269;
    background-color: #F1E9E7;
    border: 3px solid #6D2269;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 8px;
}