@import '../../../index.scss';

.book-details {
    .btn.add {
        position: absolute;
        left: 90px;
        bottom: 65px;
    }

    h2 {
        // @include heading;

        svg {
            @include button-svg-x;
        }
    }

    .loaded,
    .reloaded {
        height: 100%;
        transform-origin: center bottom;
        transform: scale(0.01);
        opacity: 0;
        animation: appears .8s ease-in-out 0.3s forwards;
    }

    .closed {
        height: 100%;
        transform-origin: center bottom;
        transform: scale(1);
        opacity: 1;
        animation: disappears .8s ease-in-out 0.3s forwards;
    }
}

.info-close-btn {
    @include button-svg-x;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    @include side-borders;

    &-wrapper {
        background-color: $color-bgr;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 24px 15px;
        border-radius: 10px;
        box-shadow: 0px 1px 4px darkgrey;
        position: relative;
        cursor: pointer;

        .person {
            display: flex;
            transform: translateX(0);
            transition: transform .8s ease-in-out;
        }

        .image {
            box-shadow: inset 0px 1px 2px grey;
            padding: 6px;
            border-radius: 8px;
            flex-basis: 30%;
            align-self: center;
            transform: scale(1);
            transition: transform .8s ease-in-out, box-shadow .8s ease-in-out;
        }

        .name {
            flex-basis: 65%;
            transform: scale(1);
            transition: transform .8s ease-in-out;
        }

        .info p {
            margin-block: 5px;
            font-size: 14px;
            position: relative;
            left: 25px;
            display: flex;
            align-items: flex-start;
        }

        svg {
            text-align: center;
            width: 20px;
            margin-right: 4px;
        }

        &:hover .person {
            transform: translateX(30px);
        }

        &:hover .image {
            transform: scale(1.6)  translateX(10px);
            box-shadow: 0px 1px 2px grey;
        }

        &:hover .name {
            transform: scale(0.8) translateX(50px);
        }

    }

    h3 {
        font-size: $font-size-big;
        font-weight: bold;
        margin: 0 0 0 25px;
    }
}

.content-details {
    margin: 10px auto;

    p {
        margin: 5px;
        display: flex;
        align-items: center;
    }

    svg {
        width: 15px;
    }

    a {
        text-decoration: none;
    }

    div {
        min-width: 250px;
        margin-block: 14px;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .btn {
        background-color: $color-bgr;
            color: $color-primary;
        width: 40px;
        height: 40px;
        font-size: 14px;
        border: none;
        position: relative;
        box-shadow: 0px 1px 4px darkgrey;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
            color: $color-white;

            
        }
    }

    .btn svg {
        width: 40px;
        padding: 3px;
    }

    .btn.edit svg {
        padding: 5px;
    }
}

.btn a {
    @include button-styles ();

    &:hover {
        @include button-styles($color-primary, $color-card);
    }
}

.content-footer {
    @include card-footer;
}

@media (max-width: 800px) {
    .btn a {
        width: 270px;
        margin-top: 35px;
    }
}