.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F1E9E7;
    border: 3px solid #F1E9E7;
    margin: 5px 0;
    vertical-align: middle;
    cursor: pointer;
}

.contact:hover {
    border: 3px solid #6D2269;
}

.image {
    width: 100px;
    height: 120px;
    overflow: hidden;
    font-size: 5em;
    line-height: 96px;
    vertical-align: middle;
    text-align: center;
    background: #838383;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.small {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    border-radius: 50%;
    font-size: 2.5em;
}

.title {
    display: inline-block;
    margin-block: 15px;
    font-weight: bold;
}

.name,
.last-name {
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: -35px;
    color: #fff;
    display: flex;
    justify-content: center
}

.footer>button {
    font-size: 1em;
    font-weight: bold;
    margin: 0 8px;
    border: none;
    background-color: #6D2269;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer>button>span {
    padding: auto;
    display: inline-block;
    margin-right:8px;
}

.footer>button:nth-child(1) .arrow {
    transform: rotate(180deg);
}

.footer>button:nth-child(1),
.footer>button:nth-child(2) {
    cursor: pointer;
}

/* .footer button{
    display: inline;
    border: none;
} */