@import '../../../scss/index.scss';

.pagination {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

    &-btn {
        @include button-pagination($color-light-grey, $color-primary);

        span {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
