@import '../../../index.scss';

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-card;
    border: 3px solid $color-card;
    margin: 5px 0;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        border: 3px solid$color-primary;
    }

    h3  {
        display: inline-block;
        margin-block: 15px;
        font-weight: bold;
    }

    .small {
        width: 50px;
        height: 50px;
        margin: 0 20px;
        border-radius: 50%;
        font-size: $font-size-subtitle;
    }
}

.image {
    background:$color-grey;
    color: $color-white;
    width: 100px;
    height: 120px;
    overflow: hidden;
    font-size:$font-size-img;
    line-height: 96px;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

//-------------------------------

.footer {
    color: $color-white;
    width: 100%;
    position: absolute;
    bottom: -35px;
    display: flex;
    justify-content: center;

    button {
        font-size: $font-size-footer;
        background-color: $color-primary;
        color:$color-white;
        font-weight: bold;
        margin: 0 8px;
        border: none;
        display: flex;
        align-items: center;
    }

    span {
        padding: auto;
        display: inline-block;
        margin-right:8px;
    }

    button:nth-child(1) .arrow {
        transform: rotate(180deg);
    }
    
    button:nth-child(1),
    button:nth-child(2) {
        cursor: pointer;
    }
}
