@import '../../../index.scss';

.contact {
    @include flexLayout();
    justify-content: flex-start;
    background-color: $color-card;
    vertical-align: middle;
    @include card-border();
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.4s ease;

    &:hover {
        @include card-border(2px, $color-primary);
    }

    h3 {
        display: inline-block;
        margin-block: 15px;

        span {
            margin-left: 5px;
            font-size: 30px;
            position: absolute;
            top: 8px;
            right: 30px;
            transition: transform 0.3s ease-in-out font-size 0.3s ease-in-out top 0.3s ease-in-out;
        }
    }

    &:hover span {
        transform: translateX(15px);
        font-size: 35px;
        top: 3px;
    }

    .small {
        width: 50px;
        height: 50px;
        margin: 4px 20px;
        border-radius: 50%;
    }
}

.image {
    background: $color-grey;
    color: $color-white;
    width: 100px;
    height: 120px;
    overflow: hidden;
    font-size: $font-size-img;
    line-height: 96px;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;

    &-btn {
        @include pagination-btn();
        cursor: pointer;
    }
}