@import '../../scss/index.scss';

.not-found-page {
    color: $color-primary;
    background-color: $color-white;
    min-height: 250px;
    text-align: center;
    vertical-align: middle;
}

.not-found-page>div {
    padding: 50px;
    color: $color-mid-blue;
}

.not-found-page h1 {
    font-size: $font-size-heading;
    font-weight: 600;
    margin: 20px;
}

.not-found-page h2 {
    font-size: $font-size-big;
    font-weight: 900;
    text-align: center;
    margin: 8px 0;
}

.not-found-page p {
    color: $color-primary;
    margin: 10px 40px;
    font-size: $font-size-middle;
}

.not-found-page p a {
    color: $color-light-blue;
    font-weight: bold;
    text-decoration: underline;
}