.profile {
    padding: 10px 30px;
}

.profile div {
    margin: 13px auto;
}

.profile label {
    display: inline-block;
    width: 110px;
    font-size: 18px;
    font-weight: 800;
    margin-right: 10px;
}

.profile input {
    padding: 8px;
}

