@import '../../index.scss';

.modal {
    width: 99%;
    position: fixed;
    top: 83px;
    bottom: 13px;
    right: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    background: $color-grey, 0.8;
    text-align: center;
    z-index: 1;

    &-content {
        width: 300px;
        height: 150px;
        background-color: $color-bgr;
        border-radius: 8px;
        position: relative;
        z-index: 2;
        margin: 125px auto 20px auto;
    }
    
    &-txt {
        padding: 20px 0 6px 0;
        color: $color-primary;
        font-weight: 300;
        margin: 3%;
    }

    .btn {
        @include button-styles($color-primary, $color-card, 16px);
        display: inline-block;
        width: 65px;
        padding: 8px 0;
        margin-inline: 10px;
    }
    
    &-accept.btn {
        background-color: $color-primary;
    }

    &-deny.btn {
        background-color: $color-white;
        color: $color-primary;
    }

    &-overlay {
       @include overlay;
    }
}