@import '../../index.scss';

header {
    font-size: $font-size-big;
    font-weight: 900;
    padding-bottom: 0.5em;
    background-color: $color-primary;
    color:$color-white;
    text-align: center;
}