@import '../../../scss';

.book {
    margin: 20px;
    padding: 25px;
    overflow: hidden;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    gap: 2%;

    &-list {
        flex-basis: 48%;

        .book-content {
            height: 100%;
            position: relative;
            bottom: 0;

            //add colors
            h2 {
                @include heading($color-primary);
            }
        }

        &-wrapper {
            padding: 6px;
            background-color: $color-secondary;
            display: flex;
            flex-direction: column;
            gap: 8px;
            @include side-borders();

            @for $i from 1 through 6 {
                a {
                    opacity: 0;

                    &:nth-child(#{$i}) {
                        animation-name: unfold;
                        animation-duration: 400ms;
                        animation-delay: (200ms * $i);
                        animation-timing-function: ease-in-out;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }

    &-details {
        flex-basis: 48%;
        position: relative;
        opacity: 0;
        animation: load .5s ease-out .5s forwards;

        .book-details-msg {
            text-align: center;
            margin-bottom: 25px;
        }

        p {
            color: $color-primary;
        }
    }
}