.book {
    margin: 20px;
    overflow: auto;
    justify-content: space-around;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 2%
}

.book-list {
    flex-basis: 48%;
}

.book-list>div {
    border-bottom: 45px solid #6D2269;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    bottom: 0;
}

.book-details {
    flex-basis: 48%;
    position: relative;
}

.book-details>p {
    margin-bottom: 25px;
}

.book-list h2,
.book-details h2 {
    text-align: center;
    background-color: #6D2269;
    margin: 0;
    padding: 0.25em 1em 0.25em 1em;
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@media (max-width: 800px) {
    .container {
        width: 500px;
    }

    .book {
        flex-direction: column;
    }

    .book-list,
    .book-details {
        margin: 25px;
    }
    .book-details .btn.add{
        position: unset;
    }
}