@import '../../../index.scss';

.book {
    min-height: 65vh;
    margin: 20px;
    overflow: hidden;
    justify-content: space-around;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    gap: 2%;

    &-list {
        flex-basis: 48%;

        &-content {
            height: 100%;
            position: relative;
            bottom: 0;
        }

        &-wrapper {
            padding: 6px;
            background-color: $color-bgr;
            display: flex;
            flex-direction: column;
            gap: 6px;
            @include card-box-shadow ($dept: 4px, $position: inset);
            @include side-borders();
        }
    }

    &-details {
        flex-basis: 48%;
        position: relative;

        // h2 {
        // }

        p {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 800px) {
    .book {
        flex-direction: column;

        &-list,
        &-details {
            margin: 25px;
        }

        &-details .btn.add {
            position: unset;
        }
    }
}