@import '../../scss/index.scss';

.container .theme {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  bottom: 4px;
  right: 10px;
  padding: 8px;

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  input[type="radio"] {
    cursor: pointer;
    margin-inline: 12px;
    appearance: none;
    width: 20px;
    height: 20px;
    outline: 2px solid;
    border-radius: 50%;

    &.default {
      @include theme-radio-button($color-primary);
    }

    &.orange {
      @include theme-radio-button($color-primary-orange);
    }

    &.green {
      @include theme-radio-button($color-primary-green);
    }
  }
}