.container {
  border: 15px solid #6D2269;
  overflow: hidden;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 900px;
  min-height: 90vh;
  background-color: #FFF;
  position: relative;
  padding-bottom: 2em;
}