@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-urbanist: 'Urbanist', sans-serif;
$font-headings: 'Prompt', sans-serif;

$color-primary: #802990;
$color-secondary: #f7f7f7;
$color-card: #F0E9FF;
$color-white: #FFF;
$color-grey: #e4dde8;
$color-mid-blue: #4d75b0;
$color-light-blue: #779fda;

$font-size-heading: 3em;
$font-size-subtitle: 2.5em;
$font-size-big: 1.2em;
$font-size-middle: 20px;
$font-size-small: 13px;
$font-size-img: 5em;
$font-size-footer: 1em;

@mixin flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-styles ($bgr-color: $color-card, $color: $color-primary, $fn-sz: 18px) {
    background-color: $bgr-color;
    color: $color;
    font-size: $fn-sz;
    margin: 0 auto;
    font-weight: 800;
    box-shadow: 0px 1px 4px darkgray;
    margin-top: 12px;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;   
}

@mixin button-svg-x($color: $color-grey) {
    color: $color;
    width: 35px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

@mixin button-pagination ($bgr-color: $color-secondary, $color: $color-primary) {
    width: 60px;
    height: 25px;
    background-color: $color-card;
    font-weight: bold;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: 0px 1px 2px darkgrey;
    cursor: pointer;

    svg {
        color: $color;
        width: 45%;
    }

    &:hover {
        background-color: $color-primary;

        svg {
            color: $color-white;
        }
    }
}

@mixin card-styles ($bgr-color: $color-white) {
    @include flex-layout();
    background-color: $bgr-color;
    justify-content: flex-start;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 1px 2px grey;
}

@mixin card-border($color: $color-primary, $px: 2px, $border-color: $color-grey) {
    box-shadow: inset 0 0 0 $px $color;
    border-radius: 6px;
}

@mixin card-footer($bgr-color: $color-white, $color: $color-grey, $border-color: $color-grey) {
    height: 44px;
    color: $color;
    @include footer-borders($border-color);
}

@mixin header-borders ($border-color: $color-grey, $px: 2px) {
    border: $px solid $border-color;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@mixin footer-borders ($border-color: $color-grey, $px: 2px) {
    border: $px solid $border-color;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

@mixin side-borders ($border-color: $color-grey, $px: 2px) {
    border-right: $px solid $border-color;
    border-left: $px solid $border-color;
}

@mixin footer-styles($bgr-color: $color-white, $color: $color-secondary) {
    padding: .6em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: $font-size-small;
    font-family: $font-urbanist;
    font-weight: 400;
    background-color: $bgr-color;
    color: $color;
    @include flex-layout();
    @include footer-borders();
}

@mixin heading ($color: $color-primary) {
    color: $color;
    letter-spacing: .1rem;
    font-family: $font-headings;
    text-align: center;
    margin: 0;
    padding: 0.25em 1em 0.25em 1em;
    @include header-borders();
}

@mixin styled-input ($hight: 3px, $color: $color-primary,
    $fn-sz: $font-size-small, $width: 50%) {
    width: $width;
    font-family: $font-poppins;
    font-size: $fn-sz;
    padding: $hight;
    border-color: #EEE;
    border-width: 1px;
    border: none;
    box-shadow: inset 0px 1px 3px $color;
}

@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(254, 254, 254, 0.3), rgba(121, 116, 121, 0.9));
    z-index: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

@keyframes appears {

    0% {
        transform: scale(0.1) rotateY(40deg) rotateX(40deg) translate(-200px);
        opacity: 0;
    }

    50% {
        transform: rotateY(-20deg) rotateX(-30deg);
    }

    70% {
        transform: scale(1.1);
        opacity: 1;
    }

    90% {
        transform: rotate(3deg);
    }

    100% {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}

@keyframes disappears {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    30% {
        transform: scale(1.1) rotateY(-60deg) rotateX(-30deg);
    }

    70% {
        transform: translate(-30px, -40px) scale(1.1);
    }

    90% {
        transform: rotate(3deg) translate(50px, 10px);
        opacity: 1;
    }

    100% {
        transform: scale(0.4) rotateY(40deg) rotateX(40deg) translate(200px, 200px);
        opacity: 0;
    }
}

@keyframes list-disappears {
    0% {
        transform: scale(1);
        opacity: 1;
        top: 30%;
    }

    30% {
        transform: scale(1.1) rotateY(-60deg) rotateX(-30deg);
    }

    50% {
        transform: rotate(3deg) scale(1.1) translate(-10px, 50px);
        opacity: 0;
    }

    70% {
        transform: translate(-100px, -10px) scale(0.7);
    }


    100% {
        transform: scale(0.4) translate(-300px, 200px);
        opacity: 0;
        top: 80%;
    }
}


@keyframes unfold {
    0% {
        background-color: $color-secondary;
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        color: red;
        transform: scale(1.1);
    }

    90% {
        transform: scale(1);
        background-color: $color-grey;
    }

    100% {
        color: $color-primary;
        background-color: $color-grey;
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes load {

    0% {
        opacity: 0;
       
    }

    100% {
        opacity: 1;
    }
}