@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,700;1,900&display=swap');

$color-primary: #6D2269;
$color-secondary: #d8c0ba;;
$color-bgr:  #FCFAEF;
$color-white: #FFF; 
$color-mid-blue:  #4d75b0;
$color-light-blue:  #779fda;

$font-poppins: 'Poppins', sans-serif;

%headingSecondary {
    text-align: center;
    background-color:$color-primary;
    margin: 0;
    padding: 0.25em 1em 0.25em 1em;
    color:$color-white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
@mixin flexLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

h1, h2, h3{
    color: $color-primary;
}

body {
    margin: 0;
    padding: 0;
    background-color:$color-bgr;
    font-family: $font-poppins;
}

a {
    text-decoration: none;
}