@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-urbanist: 'Urbanist', sans-serif;
$font-headings: 'Prompt', sans-serif;

$color-primary: #802990;
$color-secondary: #F0E9FF;

$color-primary-orange: orange;
$color-secondary-orange:rgb(249, 243, 167);

$color-primary-green: green;
$color-secondary-green:rgb(177, 249, 167);

$color-white: #FFF;
$color-light-grey: #f7f7f7;
$color-dark-grey:#737373;
$color-grey: #e4dde8;
$color-mid-blue: #4d75b0;
$color-light-blue:#d1def2;

$font-size-heading: 3em;
$font-size-subtitle: 2.5em;
$font-size-big: 1.2em;
$font-size-middle: 20px;
$font-size-small: 13px;
$font-size-img: 5em;
$font-size-footer: 1em;
